<a href="https://colab.research.google.com/github/Mypeepee/Data-Mining/blob/main/EW1DataMining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [ ]:
# Nama
print("Hello, my name is Jason")

a = "Hello, my name is Jason"
print(a)

Hello, my name is Jason
Hello, my name is Jason

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Catharina memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [ ]:
# Soal a
a = 4*15
b = 12
print(a/b)

# Soal b
c = 8
d = 0.33
print(c**d)

# Soal c
print(50000//7500)

5.0
1.9861849908740719
6

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [ ]:
# Konversi
a = "1000"
b = 5.25
c = 5
d = 1000

print(int(a))
print(int(b))
print(float(c))
print(str(d))

1000
5
5.0
1000

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [ ]:
# 1
a = 20
while a <= 30:
  print(a)
  a += 1


# 2
list = []
v = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
vsplit = v.split(" ")
list.append(vsplit)
print(list)

# 3
print(v[::-1])

20
21
22
23
24
25
26
27
28
29
30
[['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']]
.slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama fakultas di UC, simpan dalam variabel "fakultas".
2.   Cetaklah jumlah fakultas di UC dengan mencari panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index fakultas SIFT

In [ ]:
# Fakultas
UC = ("IBM", "Acc", "Med", "IMT", 'SIFT', 'DKV', "HTB", "FTP", "CB", "Archi")
UC.index("SIFT")
indes = str(UC.index)
print("Jumlah fakultas di UC:  %d" % len(UC))
print("SIFT berada pada Index: " + indes)

Jumlah fakultas di UC:  10
SIFT berada pada Index: <built-in method index of tuple object at 0x7d6ffbd28440>

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti salah satu makanan favoritmu yang kosong dengan nama makanan baru (makanan yang mana bebas). Cetak makanan favorit barumu dengan contoh: "Aku ingin mengganti pesananku jadi {nama makanan baru}"

In [ ]:
# 1
makanan_kesukaan = ["Nasi Ayam Goreng", "Nasi Goreng Jade", "Steak Ledoyen"]

# 2


for x in makanan_kesukaan:
  print(x)

# 3
for x in makanan_kesukaan:
  print("Aku ingin pesan " + x)

# 4
makanan_kesukaan[1] = "Daging Mnausa"
print(makanan_kesukaan)

Nasi Ayam Goreng
Nasi Goreng Jade
Steak Ledoyen
Aku ingin pesan Nasi Ayam Goreng
Aku ingin pesan Nasi Goreng Jade
Aku ingin pesan Steak Ledoyen
['Nasi Ayam Goreng', 'Daging Mnausa', 'Steak Ledoyen']

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [ ]:
# 1
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}

gabungan_set = set1 | set2
print(gabungan_set)

# 2
tidak_beririsan = set1.isdisjoint(set3)

print(tidak_beririsan)

# 3
adalah_subset = set4.issubset(set1)

print(adalah_subset)


# 4

{1, 2, 3, 4, 6, 8}
True
True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik (munculkan error jika input selain angka) dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [ ]:
# Program Bayar Listrik

def hitung_tarif(penggunaan):

    if penggunaan < 100:
        penggunaan = 100

    if penggunaan < 1000:
        tarif = 1000 * penggunaan
    else:
        tarif = 1000 * 100 + (penggunaan - 1000) * 2000
        tarif *= 1.1

    return tarif

def main():
    try:
        penggunaan = float(input("Masukkan jumlah penggunaan listrik (dalam kWh): "))

        if penggunaan < 0:
            print("Jumlah penggunaan tidak boleh negatif.")
            return

        total_tarif = hitung_tarif(penggunaan)
        print(f"Total tarif yang harus dibayar: Rp{total_tarif:.2f}")

    except ValueError:
        print("Error: Harap masukkan angka yang valid.")

if __name__ == "__main__":
    main()

Masukkan jumlah penggunaan listrik (dalam kWh): 40000
Total tarif yang harus dibayar: Rp85910000.00

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [ ]:
def hitung_angkot(jumlah_peserta):
    kapasitas_per_angkot = 10
    if jumlah_peserta <= 0:
        return 0
    return (jumlah_peserta // kapasitas_per_angkot) + (1 if jumlah_peserta % kapasitas_per_angkot > 0 else 0)

def main():
    try:
        jumlah_peserta = int(input("Masukkan jumlah peserta: "))

        if jumlah_peserta < 0:
            print("Jumlah orang tidak bisa negatif!")
            return

        jumlah_angkot = hitung_angkot(jumlah_peserta)
        print(f"Jumlah angkot yang diperlukan: {jumlah_angkot}")

    except ValueError:
        print("Error: Harap masukkan angka yang valid.")

if __name__ == "__main__":
    main()

Masukkan jumlah peserta: 20
Jumlah angkot yang diperlukan: 2

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan random untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buat dan cetaklah matriks 3x4 menggunakan numpy array berisi angka random dari 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [ ]:
import numpy as np
import random

# 1
hari = np.array(['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu'])

print(hari)

['Senin' 'Selasa' 'Rabu' 'Kamis' 'Jumat' 'Sabtu' 'Minggu']

In [ ]:
# 2
hari_sorted = np.sort(hari)
print(hari_sorted)

['Jumat' 'Kamis' 'Minggu' 'Rabu' 'Sabtu' 'Selasa' 'Senin']

In [ ]:
# 3
random_hari = random.choice(hari_sorted)
print(f"Selamat hari {random_hari}, adalah hari baikmu bulan ini!")

Selamat hari Rabu, adalah hari baikmu bulan ini!

In [ ]:
# 4
matriks = np.random.randint(1, 7, size=(3, 4))
print("Matriks 3x4:")
print(matriks)

Matriks 3x4:
[[5 5 6 2]
 [6 6 2 4]
 [3 6 4 5]]

In [ ]:
# 5
kolom_ketiga = matriks[:, 2]
print("Elemen kolom ketiga dari matriks:")
print(kolom_ketiga)

Elemen kolom ketiga dari matriks:
[6 2 4]

In [ ]:
# 6
matriks_ubah = np.array([[1, 2, 3, 4],
                          [5, 6, 7, 8],
                          [9, 10, 11, 12]])
matriks_reshaped = matriks_ubah.reshape(2, 6)
print("Matriks setelah reshape menjadi (2, 6):")
print(matriks_reshaped)

Matriks setelah reshape menjadi (2, 6):
[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [ ]:
import pandas as pd

# 1
data = ["Information", "Systems", "for", "Business"]


series = pd.Series(data)


print(series)

# 2
data = { "brand": "Ford", "model": "Mustang", "year": 1964 }


df = pd.DataFrame([data])


print(df)

0    Information
1        Systems
2            for
3       Business
dtype: object
  brand    model  year
0  Ford  Mustang  1964

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [ ]:
# 3
asu = pd.read_csv('https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls')
asu.head(10)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
5  131876.90        99814.71        362861.36    New York  156991.12
6  134615.46       147198.87        127716.82  California  156122.51
7  130298.13       145530.06        323876.68     Florida  155752.60
8  120542.52       148718.95        311613.29    New York  152211.77
9  123334.88       108679.17        304981.62  California  149759.96

In [ ]:
# 4
asu["State"]

0       New York
1     California
2        Florida
3       New York
4        Florida
5       New York
6     California
7        Florida
8       New York
9     California
10       Florida
11    California
12       Florida
13    California
14       Florida
15      New York
16    California
17      New York
18       Florida
19      New York
20    California
21      New York
22       Florida
23       Florida
24      New York
25    California
26       Florida
27      New York
28       Florida
29      New York
30       Florida
31      New York
32    California
33       Florida
34    California
35      New York
36       Florida
37    California
38      New York
39    California
40    California
41       Florida
42    California
43      New York
44    California
45      New York
46       Florida
47    California
48      New York
49    California
Name: State, dtype: object

In [ ]:
# 5
dataset_random = asu.sample(n=10)
dataset_random.head(5)

    R&D Spend  Administration  Marketing Spend       State     Profit
2   153441.51       101145.55        407934.54     Florida  191050.39
36   28663.76       127056.21        201126.82     Florida   90708.19
7   130298.13       145530.06        323876.68     Florida  155752.60
40   28754.33       118546.05        172795.67  California   78239.91
35   46014.02        85047.44        205517.64    New York   96479.51

In [ ]:
# 6
asu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [ ]:
# 7
california = asu[asu['State'] == 'California']

# Menampilkan kolom 'R&D Spend' dan 'Marketing Spend'
result = california[['R&D Spend', 'Marketing Spend']]

print(result)

    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [ ]:
# 8
asu.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [ ]:
# 9
asu_filter = asu[asu['Profit'] >= 50000]

print(asu_filter)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08

In [ ]:
# 10
asu_sorted = asu.sort_values(by='Marketing Spend', ascending=False)

print(asu_sorted)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
27   72107.60       127864.55        353183.81    New York  105008.31
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
23   67532.53       105751.03        304768.73     Florida  108733.99
22   73994.56       122782.75        303319.26     Florida  110352.25
21   78389.47       153773.43        299737.29    New York  111313.02
20   76253.86       113867.30        298664.47  California  118474.03
46    1315.46       115816.21        297114.46     Florida   49490.75
18   91749.16       114175.79        294919.57     Florida  124266.90
17   94657.16       145077.58        282574.31    New York  125370.37
16   78013.11       121597.55        264346.06  California  126992.93
15  114523.61       122616.84        261776.23    New York  129917.04
14  119943.24       156547.42        256512.92     Florida  132602.65
13   91992.39       135495.07        252664.93  California  134307.35
12   93863.75       127320.38        249839.44     Florida  141585.52
11  100671.96        91790.61        249744.55  California  144259.40
10  101913.08       110594.11        229160.95     Florida  146121.95
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
6   134615.46       147198.87        127716.82  California  156122.51
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
49       0.00       116983.80         45173.06  California   14681.40
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
19   86419.70       153514.11             0.00    New York  122776.86
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convinience_stores', 'latitude', 'longitude', 'house_price_of_unit_area'
5. Cek apakah ada missing values dari masing-masing kolom

In [ ]:
# 1
ibu = pd.read_csv('https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv')
ibu.head(10)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
5,6,2012.667,7.1,2175.03000,3,24.96305,121.51254,32.1
6,7,2012.667,34.5,623.47310,7,24.97933,121.53642,40.3
7,8,2013.417,20.3,287.60250,6,24.98042,121.54228,46.7
8,9,2013.500,31.7,5512.03800,1,24.95095,121.48458,18.8
9,10,2013.417,17.9,1783.18000,3,24.96731,121.51486,22.1

In [ ]:
# 2
ibu_random = ibu.sample(n=10)
print(ibu_random)

      No  X1 transaction date  X2 house age  \
141  142             2013.333           5.1
9     10             2013.417          17.9
170  171             2013.333          24.0
175  176             2013.083          30.2
356  357             2012.833          10.3
43    44             2012.750          34.4
246  247             2013.417          16.4
155  156             2013.167          13.8
60    61             2013.417          11.0
66    67             2013.000           1.0

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
141                               1559.8270                                3
9                                 1783.1800                                3
170                               4527.6870                                0
175                                472.1745                                3
356                                211.4473                                1
43                                 512.7871                                6
246                                389.8219                                6
155                               4082.0150                                0
60                                1931.2070                                2
66                                 193.5845                                6

     X5 latitude  X6 longitude  Y house price of unit area
141     24.97213     121.51627                        28.9
9       24.96731     121.51486                        22.1
170     24.94741     121.49628                        14.4
175     24.97005     121.53758                        36.5
356     24.97417     121.52999                        45.3
43      24.98748     121.54301                        34.1
246     24.96412     121.54273                        40.6
155     24.94155     121.50381                        15.6
60      24.96365     121.51471                        21.3
66      24.96571     121.54089                        50.7

In [ ]:
# 3
ibu.describe()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,207.500000,2013.148971,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,119.655756,0.281967,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,1.000000,2012.667000,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,104.250000,2012.917000,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,207.500000,2013.167000,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,310.750000,2013.417000,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,414.000000,2013.583000,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [ ]:
# 4
ibu.drop(columns=['No'], errors='ignore')
ibu.columns = ['transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convinience_stores', 'latitude', 'longitude', 'house_price_of_unit_area']
print(ibu)

ValueError: Length mismatch: Expected axis has 8 elements, new values have 7 elements

In [ ]:
# 5
ibu.isnull().sum()

No                                        0
X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64